doctype html
html
    head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/game.css')
    script(type='text/javascript', src='/js/lib/require.js')
body(id='body')
    block content
