
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom, blue, white 80%, orange);
}

#game-container{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

input, button{
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    border: none;
    padding: 2px 7px 2px 7px;
}

button{
    background-color: rgba(255,255,255,.8);
}

.window-header{
    width: 100%;
    border-bottom: 5px solid rgba(0,0,0,.5);
}

.window-header-content{
    padding: 1px 5px 1px 10px;
}

.window-body{
    padding: 3px 5px 3px 10px;
}

.window{
    display:inline-block;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}

#window-login{
    position: inherit;
    left: 40%;
    top: 40%;
}

#window-connect{
    position: absolute;
    left: 30%;
    top: 40%;
}

