
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom, blue, white 80%, orange);
}

#game-container{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

input, button{
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    border: none;
    padding: 2px 7px 2px 7px;
}

td{
    padding: 2px;
}

button{
    background-color: rgba(255,255,255,.8);
}

.window-header{
    width: 100%;
    border-bottom: 5px solid rgba(0,0,0,.5);
}

.window-header-content{
    padding: 1px 5px 1px 10px;
}

.window-body{
    padding: 3px 5px 3px 10px;
}

.window-container{
    display:none;
    position: absolute;
}
.window{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(180,180,180,.3);
}


#window-chat-body {
    padding: 3px 5px 3px 10px;
    max-height: 5em;
    min-height: 3em;
    min-width: 10em;
    max-width: 30em;
    overflow-y: scroll;
    overflow-x: initial;

}

#inp-chat-message{
    width: auto;
    margin: 2px 5px 2px 5px;
}

#dsp-chat-messages tr td{
    white-space: nowrap;
}